.ipynb_checkpoints
Testing.ipynb
Resources/

Dr. Frank Zickert - Hands-On Quantum Machine Learning With Python Volume 1_ Get Started-PYQML (2021).pdf

FOR_RELEASE_TO_STUDENTS - Summary_Mini-project_topics Aston_SIT- Final list.pdf

Project List Final .pdf

Screenshot 2023-05-23 at 8.32.56 PM.png

Breakthrough 1.png